<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/src/format.css">
</head>

<body>
<div id="nav">
    <div class="nav-block" id="home" onclick="window.location.href='http://127.0.0.1:5000/Home'">Home</div>
    <div class="nav-block" id="data" onclick="window.location.href='http://127.0.0.1:5000/DataViewer'">Data Viewer</div>
    <div class="nav-block" id="ADpred" onclick="window.location.href='http://127.0.0.1:5000/ADPrediction'">About AD</div>
    <div class="nav-block" id="PDpred" onclick="window.location.href='http://127.0.0.1:5000/PDPrediction'">About PD</div>
</div>
<div>
    <p class="title">暑期实习项目展示</p>
    <span class="subtitle">研究主题与简介</span>
    <p class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;神经退行性疾病。。。</p>
    <span class="subtitle">项目内容</span>
    <ol>
        <li class="text">数据展示</li>
        <li class="text">阿尔兹海默症预测</li>
        <li class="text">帕金森病预测（基于音频）</li>
    </ol>
    <span class="subtitle">小组成员与分工</span>
    <div class="text">
        <ul>
            <li><span style="font-weight: bold">小组组长：张世越</span></li>
            <li>阿尔兹海默症预测建模：李诗雨、李思默、潘越</li>
            <li>帕金森症预测建模：周超辰、揭开宇、张世越</li>
            <li>数据库与网页搭建：田霈</li>
            <li>页面文本资料整理：李诗雨</li>
        </ul>
    </div>

</div>

</body>

<script type="text/javascript">

</script>
</html>